@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-red: #EA1D2C;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
}

html.dark body {
  @apply bg-zinc-950 text-zinc-50;
}
